<div>

    <form [formGroup]="newPlayerForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col"><button class="btn btn-primary" (click)="refreshPlayers()">Refresh</button></div>
            <div class="col"><label for="nickName">Rating: </label><input id="nickName" type="text"
                    formControlName="nickName" /></div>
            <div class="col"><label for="rank">Rating: </label><input id="rank" type="number" formControlName="rank" />
            </div>
            <div class="col"><button class="btn btn-primary" type="submit"
                    [disabled]="!newPlayerForm.valid">Submit</button></div>
        </div>

    </form>
</div>



<div class="row">

    <div class="col" *ngFor="let player of players$ | async">
        <app-player-card [player]="player"></app-player-card>
    </div>
</div>
