<div class="d-flex justify-content-center m-3">
    <div>{{match.participationA?.player?.nickname}}</div>
    <div>{{match.participationA?.hasWon}}</div>
    <div>{{match.participationA?.finishingRank}} ({{match.participationA?.rankDifference}})</div>
    <div class="m-3 d-flex align-items-center justify-content-center">
        <h3>VS</h3>
    </div>
    <div>{{match.participationB?.player?.nickname}}</div>
    <div>{{match.participationB?.hasWon}}</div>
    <div>{{match.participationB?.finishingRank}} ({{match.participationB?.rankDifference}})</div>
    
</div>