.participation {
    border: solid;
    border-color: red;
}



.participation.won {
    border-color: green !important;
}


.colored-by-result {
    color: red;
}

.won .colored-by-result {
    color: green;

}